.student__web {
  display: flex;
  text-decoration: none;
  max-width: calc(100% - 140px);
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-bottom: solid #e8e8e8 1px;
  align-items: flex-start;
  margin-top: 20px;
  transition: opacity 0.2s linear;
}

.student__web:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1100px) {
  .student__web {
    max-width: calc(100% - 100px);
  }
}

@media screen and (max-width: 600px) {
  .student__web {
    max-width: calc(100% - 28px);
  }
}
