.login__button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .login__button {
    margin-bottom: 215px;
  }
}

@media screen and (max-width: 600px) {
  .login__button {
    margin-bottom: 17px;
  }
}
