.student__age {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 26px;
}

@media screen and (max-width: 1100px) {
  .student__age {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .student__age {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 21px;
  }
}
