.reg__title {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-top: 42px;
}

@media screen and (max-width: 1100px) {
  .reg__title {
    padding-top: 37px;
  }
}

@media screen and (max-width: 600px) {
  .reg__title {
    padding-top: 47px;
  }
}
