.about__backend {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .about__backend {
    font-size: 11px;
    font-weight: 400;
  }
}
